body{
    margin: 0;
    padding: 0;
    background-color: wheat;
}

h1{
    background-color: wheat;
    color: black;
    margin: 0;
    padding: 10;
    text-align: center;
}

.conteudo{
    margin: 20px auto;
    border: 5px solid brown;
    width: 500px;
    padding: 5px;
    box-shadow: 0 10px 10px;
}

.conteudo p
{
    font-size: 20px;
    text-align: justify;
}

input[type=text]
{
    width: 200px;
    padding: 5px;
    box-sizing: border-box;
}